* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: normal bold 24px 'Courier New', Courier, monospace;
}

#container {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, rgba(255, 166, 0, 0.7), rgba(255, 255, 0, 0.6));
}

.header {
    padding-top: 30px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.game-display {
    margin: 100px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.player-side,
.computer-side {
    flex: 0 1 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    gap: 25px;
}

.choice-screen {
    height: 350px;
    width: 450px;
    border: 12px solid rgba(255, 217, 0); 
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice-screen > img {
    width: 50%;
    height: auto;
}

.score-counter {
    display: flex;
    align-items: center;
    gap: 30px;
}

.score-counter > .circle {
    height: 50px;
    width: 50px;
    background-color: #ffffff;
    border-radius: 30px;
    background-image: linear-gradient(to bottom left, rgba(255, 217, 0, 0.4), transparent);
}

.round-winner-text {
    text-align: center;
}

.options-buttons {
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 160px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 12px solid rgba(255, 217, 0); 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn:hover {
    scale: 1.075;
    background-color: rgba(255, 255, 255, 0.1);
}
.btn > img {
    width: 40%;
    height: auto;
}